@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora/static/Sora-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora/static/Sora-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora/static/Sora-Bold.ttf");
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primarycolor-black: hsl(0, 0%, 7%);
  --secondarycolor-black: hsl(0, 0%, 15%);
  --colorgray-dark: hsl(240, 3%, 46%);
  --colorgray-light: hsl(240, 1%, 59%);
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(354, 63%, 57%);
  --colorbule-dark: hsl(214, 100%, 55%);
  --colorbule-light: hsl(210, 100%, 65%);
  --color-green: hsl(140, 63%, 57%);
  --color-yellow: hsl(49, 85%, 70%);
}

body {
  font-family: "Sora", sans-serif;
  background-color: var(--primarycolor-black);
  overflow-x: hidden;
}
.result-screen[hidden],
.first-test-screen[hidden],
.personal-best-screen[hidden],
.second-row[hidden] {
  display: none;
}

/* ==========================================================================
   MOBILE FIRST BASELINE STYLES (Applies to all screens starting from mobile)
   ========================================================================== */

.logo-large {
  display: none;
}
.logo-small {
  width: 1.5625rem;
  position: absolute;
  top: 2.3125rem;
  display: block;
}
.personal-text {
  display: none;
}
.right-flex {
  display: none;
}
.left-flex {
  width: 100%;
  justify-content: space-between;
  margin-top: 0.625rem;
  margin-bottom: -0.3125rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.personal-img {
  width: 1.25rem;
}
.personal,
.personal > .personal-text,
.wpm,
.accuracy,
.time,
.difficulty,
.mode {
  color: var(--colorgray-light);
  font-size: 1rem;
}
.wpm,
.accuracy,
.time {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  padding: 0.3125rem;
}
.accuracy,
.time {
  padding-inline-start: 0.625rem;
  border-inline-start: 0.125rem solid var(--secondarycolor-black);
}
.wpm > span {
  margin-inline-start: 0.9375rem;
}
.wpm-span,
.T-span,
.a-span {
  display: inline-block;
  min-width: 3.125rem;
  color: var(--color-white);
  margin-inline-start: 0.3125rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.heading-container {
  width: 80%;
  margin: 2.5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.9375rem;
  gap: 0.625rem;
}
.first-row,
.second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.second-row {
  padding-bottom: 0.625rem;
  border-bottom: 0.0625rem solid var(--colorgray-dark);
}
.personal-best {
  display: flex;
  gap: 0.625rem;
}
.personal-best span {
  margin-inline-start: 0.3125rem;
  color: var(--color-white);
  font-weight: 400;
}

.difficulty,
.mode,
.mode-para {
  display: flex;
  align-items: center;
}
.level,
.timed,
.passage {
  background-color: transparent;
  color: var(--color-white);
  margin-inline-start: 0.3125rem;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid var(--colorgray-dark);
  border-radius: 0.5rem;
  font-weight: 400;
  cursor: pointer;
}

.active {
  color: var(--colorbule-light);
  border: 0.0625rem solid var(--colorbule-light);
  cursor: pointer;
}
.start-controls {
  width: 17.5rem;
  max-width: 17.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  gap: 0.625rem;
}

.start-btn {
  width: 9.375rem;
  padding: 0.625rem 0.625rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--colorbule-dark);
  color: var(--color-white);
  font-weight: 600;
  cursor: pointer;
}

.easy:hover,
.medium:hover,
.passage:hover {
  color: var(--colorbule-light);
  border: 0.0625rem solid var(--colorbule-light);
  cursor: pointer;
}
.level:focus,
.timed:focus,
.passage:focus,
.start-btn:focus {
  outline: 0.125rem solid var(--colorbule-light);
  outline-offset: 0.125rem;
  border: 0.0625rem solid var(--colorgray-light);
}
.hard:focus,
.timed:focus {
  border: 1px solid var(--colorbule-light);
}
.start-btn:focus {
  border: none;
}
.start-btn:hover {
  background-color: var(--colorbule-light);
}

.drop-down {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.drop-down img {
  margin-inline-start: 0.3125rem;
}
.hamburger {
  color: var(--color-white);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  position: relative;
}
.menu {
  background-color: var(--secondarycolor-black);
  min-width: 8.4375rem;
  padding: 0.3125rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 2.1875rem;
  z-index: 1;
  display: none;
}
.menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  padding: 0.3125rem;
  cursor: pointer;
}
.menu-one .menu-item:nth-child(1),
.menu-one .menu-item:nth-child(2),
.menu-two .menu-item:nth-child(1) {
  border-bottom: 1px solid var(--colorgray-dark);
}
input {
  appearance: none;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.0625rem solid var(--colorgray-light);
  border-radius: 50%;
  background-color: transparent;
  display: grid;
  place-content: center;
  margin: 0;
  cursor: pointer;
}
input:checked {
  background-color: var(--colorbule-light);
  border-color: transparent;
}
input:before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: var(--primarycolor-black);
}
.hard-2,
.timed-2 {
  width: 135px;
  padding: 0.3125rem;
  color: var(--color-white);
  background-color: transparent;
  border: 0.0625rem solid var(--colorgray-dark);
  border-radius: 0.5rem;
  gap: 0.3125rem;
  font-weight: 400;
  cursor: pointer;
}
.timed-2:hover,
.hard-2:hover {
  color: var(--colorbule-light);
  border: 0.0625rem solid var(--colorbule-light);
  cursor: pointer;
}
.hard-2:focus,
.timed-2:focus {
  outline: 0.125rem solid var(--colorbule-light);
  outline-offset: 0.125rem;
  border: 0.0625rem solid var(--colorgray-light);
}

.main-container {
  width: 80%;
  margin: 0 auto;
  background-color: var(--primarycolor-black);
}
.blur-screen {
  width: 100%;
  position: relative;
}
.blur-text {
  background-color: var(--primarycolor-black);
  color: var(--colorgray-dark);
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border: none;
  padding: 0.625rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 600;
  filter: blur(0.25rem);
  cursor: pointer;
}
.click-text {
  color: var(--color-white);
}
.hide-half {
  display: none;
}

.started-screen {
  width: 100%;
}
.started-text {
  background-color: var(--primarycolor-black);
  color: var(--colorgray-light);
  width: 100%;
  text-align: start;
  border: none;
  padding: 1.25rem 0.625rem 2.5rem;
  line-height: 1.4;
  font-size: 1.75rem;
  font-weight: 400;
  border-bottom: 0.0625rem solid var(--colorgray-dark);
  margin-bottom: 1.25rem;
}
/* started screen different color text */
/* the correct and incorrect classes not in html but added through JS styled here */
.started-green-text,
.correct {
  color: var(--color-green);
}
.started-red-text,
.incorrect {
  color: var(--color-red);
  text-decoration: underline;
}
.show-cursor {
  background-color: var(--colorgray-dark);
  height: 18px;
}
.restart-btn {
  margin: 0 auto;
  display: flex;
  gap: 0.625rem;
  font-size: 1rem;
  padding: 0.625rem;
  background-color: var(--secondarycolor-black);
  color: var(--color-white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* ----Result screen -----*/
.result-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  flex-direction: column;
  position: relative;
}
.first-test-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  flex-direction: column;
  position: relative;
}
.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.sun {
  align-self: flex-start;
  position: absolute;
  width: 1.5625rem;
  top: -1.25rem;
}
.star {
  align-self: flex-end;
  width: 2.8125rem;
  margin-top: 1.25rem;
}
.completed-img-wrapper {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgb(87, 148, 87) 0%,
    rgb(25, 73, 25) 50%,
    rgb(24, 42, 24) 50%,
    rgb(24, 42, 24) 75%,
    rgb(83, 151, 83) 75%,
    rgb(69, 168, 69) 100%
  );
}
.completed-img {
  width: 3.125rem;
}
.result-detail-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.result-heading {
  font-size: 1.75rem;
  color: var(--color-white);
  text-align: center;
}
.result-para {
  color: var(--colorgray-light);
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.875rem;
}
.result-detail {
  display: flex;
  margin-bottom: 1.875rem;
  padding: 0.3125rem;
  flex-direction: column;
  justify-content: center;
}
.result-detail > p {
  min-width: 17.5rem;
  align-self: center;
}
.wpm-achieved,
.accuracy-achieved,
.char-achieved {
  width: 7.5rem;
  border: 0.125rem solid var(--secondarycolor-black);
  padding: 0.625rem 0.9375rem;
  color: var(--colorgray-light);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}
.wpm-span-result {
  color: var(--color-white);
  font-weight: 700;
}
.a-span-result {
  color: var(--color-red);
  font-weight: 700;
}
.char-span-result {
  color: var(--color-green);
  font-weight: 700;
}
.char-span-red {
  color: var(--color-red);
  font-weight: 700;
}
.char-span-slash {
  color: var(--colorgray-light);
  font-weight: 700;
}
.go-again-btn,
.beat-score-btn {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  min-width: 7.5rem;
  padding: 0.625rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  z-index: 1000;
  cursor: pointer;
}
.beat-score-btn {
  position: relative;
  z-index: 2;
}
.go-again-btn > img,
.beat-score-btn > img {
  width: 1rem;
  height: 1rem;
}
.personal-best-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5rem;
}
.confetti-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: -1.25rem auto;
  z-index: 1;
  position: relative;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}
.attribution {
  width: 100%;
  height: 2.5rem;
  color: var(--colorgray-dark);
  font-size: 0.6875rem;
  text-align: center;
  align-content: center;
  margin-top: 6.25rem;
}
.attribution a {
  color: var(--colorgray-light);
}
/*====================================================================
  DESKTOP MEDIA QUERY (Applies layout transitions at width 48em and up)
  ==================================================================== */

@media (min-width: 48em) {
  .logo-large {
    display: block;
  }
  .logo-small {
    display: none;
  }
  .personal-text {
    display: inline;
  }
  .right-flex {
    display: flex;
    padding: 0 0.625rem 0 0;
    align-items: center;
    gap: 1.25rem;
  }
  .left-flex {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: flex-start;
    gap: 0.625rem;
  }
  .wpm,
  .accuracy,
  .time {
    flex-grow: 0;
    display: block;
    padding: 0;
    gap: 0;
  }
  .accuracy,
  .time {
    padding-inline-start: 0;
    border-inline-start: none;
  }
  .wpm > span {
    margin-inline-start: 0.3125rem;
  }
  .heading-container {
    gap: 3.125rem;
  }
  .drop-down {
    display: none;
  }
  .hide-half {
    display: inline;
  }
  .result-screen {
    flex-direction: row;
    position: static;
  }
  .first-test-screen {
    flex-direction: row;
    position: static;
  }
  .result-detail {
    flex-direction: row;
    margin-bottom: 1.875rem;
    padding: 0.3125rem;
    gap: 0.625rem;
  }
  .result-detail > p {
    min-width: auto;
    align-self: auto;
  }
  .result-para {
    text-align: center;
    margin-bottom: 1.875rem;
  }
  .sun {
    position: static;
    align-self: flex-start;
    margin-top: 4.375rem;
    width: auto;
  }
  .star {
    width: 3.125rem;
    margin-bottom: 0.625rem;
    align-self: flex-end;
    margin-top: 0;
  }
  .confetti-img {
    width: 100vw;
    margin-top: 3.125rem;
    margin-bottom: 0;
    position: relative;
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }
}
